
   body{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif ;
   
 } 

#trip_button{
  
    padding: 10px;
   
    color:#9162d8 ;
    text-align: center;
   
    margin-left: 750px;
    width: 190px;
    border: 0px solid red;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}

#trips{
    border: 0px solid red;
   
    margin: auto;
    width: 550px;
  
    padding: 20px;
    font-size: 25px;


}
#potential{
    border: 0px solid red;
   
    margin: auto;
    width: 550px;
    padding: 20px;
    font-size: 20px;
}

#render{
    /* border: 1px solid black; */
    
   
    margin: auto;
    width: 550px;
    height: auto;
    /* border-radius: 15px;  */

  
}

#first{
    border: 0px solid red;
   
    margin: auto;
    width: 550px;
  
    padding: 20px;
    padding-left: 0px;
    font-size: 25px;
}

#second{
    border: 0px solid red;
   
    margin: auto;
    width: 550px;
  
    padding: 20px;
    padding-left: 0px;
    font-size: 20px;
    font-weight: normal;
}

#third{
    
    
    width: 550px;
    margin: auto;
    margin-left: 380px;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
}

#fourth{
   
    
    width: 550px;
    margin: auto;
    margin-left: 380px;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
}

#save{
    width: 590px;
    margin: auto;
    margin-left: 380px;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #3662d8;
    cursor: pointer;
    color: white;
}

.img-div{
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
    
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2_UCDDAhi5Rk0xbOI741shqKgtpssayQkZ3yv4z1cH_I3q4oAeO9GRdPJ-djSCbcsVY0&usqp=CAU');
}

.tripheading{
    color: white;
    font-size: 20px;
    padding: 10px;
   
    
    
}

#go{
    width: 200px;
    margin: auto;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #3662d8;
    cursor: pointer;
}
