*{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.search-div{
    display: grid;
    margin: auto;
            border: 1px solid gray;
            width: 65%;
           margin-bottom: 40px;
}
.new1{
width: 100%;
margin-right: 50px;
}
.ul-div{
    width: 100%;
justify-content: center;

    display: flex;
}
#search{
    width: 480px;
}
.ul-div>h5{
    padding-right: 15px;

}
.ul-div>h5::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3662D8;
    transition: width .3s;
}
.ul-div>h5:hover::after{
    width: 100%;
    color: #3662D8
}
.first-div {
    display: flex;
    margin: auto;
    justify-content: center;
           align-items: center;
            position: relative;
          
        }
  .first-div>img{
    width: 65%;
    border-style: solid;
    border-radius: 5px;
    filter: contrast(100%) brightness(55%);
  }
        .first-txt {
            position: absolute;
            top: 100px;
            left: 400px;
            color:white;
            font-size: 40px;
        }
  
        .second-txt {
            position: absolute;
            top: 215px;
            left: 400px;
            color:white;
            line-height: calc(20 / 16);
            text-shadow: 0px 1px 2px rgb(0 11 38 / 80%);
        }
        .first-button{
            position: absolute;
            top: 300px;
            left: 400px;
            background-color: #3662D8;
            color: #FFFFFF;
            border-radius: 0.5rem;
            line-height: 1.25rem;
            min-block-size: 3rem;
            padding: 0.25rem 1rem;
            border: none;
        }

        .second-div{
            display: flex;
            grid-template-columns: repeat(3,1fr);
            margin: auto;
            justify-content: space-around;
            /* align-items: center; */
           width: 65%;
           border-radius: 5px;
           margin-top: 40px;
           border: 1px solid gray;
           height: 300px;
        }

        .image-div>img{
            width: 100%;
            height: 302px;
            /* border: 2px solid blue; */
            padding-top: 5px;
            position: relative;
            bottom: 15px;
            right: 22px;
            
           
        }
        .image-div{
            /* border: 1px solid red; */
            width: 38%;
            height: 400px;
            height: auto;
            padding: 5px;
            position: relative;
            top: 4px;
            margin-left: -3.63px;
            
            
        }
        .main-text{
            width: 40%;
        }
        .input-div>input{
            /* font-size: 15px; */
            padding: 5px;
        }
        .input-div>button{
            padding: 8px;
            background-color: #3662D8;
            border: none;
            color: white;
            border-radius: 5px;
        }
        .input-div>p{
           font-size: 12px;
            color: #343B53;
            margin-top: 20px;
        }
        .main-text>h2{
            font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
        }
        .main-text>p{
            font-size: 12px;
            color: #343B53;
            margin-top: -20px;
        }
        .main-text>h3{
            font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #141D38;
        }
        .qr-div>img{
            width: 100%;
            height:141px;
           margin-top: 30px;
        }
        .qr-div>h3{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    text-align: center;
    margin-top: -5px;
    color: #141D38;
        }
        .third-div{
        display: flex;
        margin: auto;
        width: 65%;
        border-radius: 5px;
        margin-top: 40px;
        border: 1px solid gray;
        height: 300px; 
        }
.third-div>img{
width: 100%;
position: relative;
}

.text-one{
    position: absolute;
            top: 1530px;
            left: 360px;
       color:white;
         
}
.text-two{
    position: absolute;
    top: 1560px;
    left: 360px;
    color: white;      
            
}

.tabshead{
	font-weight: bold;
	font-size: 1.5em;
	color: white;
}

#second{
	margin-top: 11%;
    border: 1px solid;
    box-shadow: 5px 5px 5px 3px #131313;
    background-color: rgba(90,0,0,0.3);
}
.drop{
    padding-right: 15px;
	color: black;
	width: 30%;
	height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	margin-right: 1.2%;
	margin-left: 1.2%;
}
#flightsButton{
    background-color: #3662D8;
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    border: none;
    margin-left: 500px; 
    margin-bottom: 40px;
    border-radius: 0.5rem;
}
.lab{
    padding-left: 20px;
}