*{
    font-synthesis: style;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body{
    background-color: #f8f5f4;
}
#all-properties{
    width: 67%;
    height: 50px;
    margin-left: 150px;
    display: flex;
}
a{
    text-decoration: none;
    color: #3662D8;
}
#all-properties > a{
    position: relative;
    font-size: 15px;
    gap: 0.25rem;
    line-height: 1.125rem;
    background-color: transparent;
    color: #3662D8;
    font-weight: 400;
    margin-top: 15px;
    text-decoration: none;
}
#all-properties > p{
    position: relative;
    font-size: 0.875rem;
    gap: 0.25rem;
    line-height: 1.125rem;
    background-color: transparent;
    font-weight: 400;
    margin-left: 82%;
    line-height: calc(18 /14);
    font-size: 1rem;
    color: #343B53;
}
.main-div-prop{
    width: 67%;
    height: 300px;
    margin-left: 150px;
    display: flex;
}
.main-div-prop > #frist-img{
    width: 50%;
    height: 100%;
}
.main-div-prop > #frist-img > img{
    width: 100%;
    height: 100%;
}
#main-div-prop1{
    height: 100%;
    width: 50%;
}
.second-img{
    display: flex;
    height: 50%;
    width: 100%;
}
.second-img > div{
    height: 100%;
    width: 50%;
}
.second-img > div > img{
    height: 100%;
    width: 100%;
}
#friend{
    display: flex;
    height: 50%;
    width: 100%;
}
#friend > div{
    height: 100%;
    width: 50%;
}
#friend > div > img{
    height: 100%;
    width: 100%;
}

.Overview-1{
    width: 67%;
    margin: auto;
    margin-left: 150px;
    display: flex;
}
.Overview-1>p{
    padding-right: 35px;

}
.Overview-1>p::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3662D8;
    transition: width .3s;
}
.Overview-1>p:hover::after{
    width: 100%;
    color: #3662D8
}
#reserve-room{
    background-color: #3662D8;
    color: #FFFFFF;
    border-radius: 0.5rem;
    font-size: small;
    height: 45px;
    margin-top: 3px;
    line-height: 1.25rem;
    min-block-size: 2.25rem;
    padding: 0.25rem 1rem;
    gap: 0.5rem;
    border: none;
    margin-left: 400px;
}
hr{
    margin-top: 0px;
    padding: 0;
    width: 67%;
    margin-left: 150px;
}

#container-main-a{
    width: 67%;
    height: 450px;
    margin-left: 150px;
    display: flex;
}
.andaz{
    height: 100%;
    width: 67%;
}
.map-loc{
    height: 100%;
    width: 33%;
}
#view-map{
    height: 150px;
    width: 85%;
    margin-top: 25px;
}
#view-map > img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
.andaz > h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
    color: #141D38;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.andaz > p{
    line-height: calc(18 /14);
    font-size: 0.875rem;
    color: #343B53;
    font-synthesis: style;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.andaz > a{
    line-height: calc(18 /14);
    font-size: 0.875rem;
    color: #3662D8;
    text-decoration: none;
}
.map-loc > h4{
    font-weight: 500;
    color: #141D38;
}
.map-loc > h3{
    font-weight: 500;
    color: #141D38;
}
.map-loc > p{
    line-height: calc(18 /14);
    font-size: 0.875rem;
    color: #343B53;
}